.translationWrapper {
  grid-row: 3 / -1;
  grid-column: 2 / 5;
  margin-top: 5rem;
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  overflow-y: scroll;
}

.translationWrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.translationWrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.translationWrapper::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}
