.selectWrapper {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  width: 100%;
}

.select {
  background-color: var(--background-color);
  border: none;
  border-bottom: 1px solid var(--font-color);
  outline: none;
  color: var(--font-color);
  font-size: 1rem;
  padding: 0.2rem;
  width: 16rem;
}

.labelSelect {
  margin-left: 0.45rem;
  transform: translate(-10px, -10px);
  color: var(--font-color);
}

@media screen and (max-width: 900px) {
  .selectWrapper {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    transform: translateY(50%);
  }
}
