.selectWrapper {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  width: 100%;
}

.select {
  background-color: var(--background-color);
  border: none;
  border-bottom: 1px solid var(--font-color);
  outline: none;
  color: var(--font-color);
  font-size: 1rem;
  padding: 0.2rem;
  width: 100%;
}

.labelSelect {
  margin-left: 0.45rem;
  color: var(--font-color);
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 1200px) {
  .select {
    width: 15rem;
  }
}

@media screen and (max-width: 900px) {
  .selectWrapper {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    transform: translateY(50%);
  }

  .select {
    width: 100%;
  }
}
